table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #f8f8f8;
    color: #333333;
    font-weight: bold;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #278abf;
}

tr:hover {
    background-color: #f1f1f1;
}

.sort-button {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 500px;
    transition: background-color 0.3s ease;
}

.sort-button:hover {
    background-color: #e2e2e2;
}

/* Button in a 'danger' state, typically used for delete actions */
.delete-btn {
    padding: 10px 15px;
    background-color: #ff4d4f;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #ff7875;
}

.search-bar-container {
    display: flex;
    align-items: center;
    padding: 5px 50px;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 1px solid #ddd;
    width: fit-content;
}

.search-bar-container input {
    border: none;
    outline: none;
    padding: 8px;
    background-color: transparent;
    margin-right: 8px;
}

.search-bar-container input::placeholder {
    color: #a9a9a9;
}

.search-bar-container .search-icon {
    color: #a9a9a9;
    cursor: pointer;
}

/* Assuming you're using Font Awesome for the icon */
.search-bar-container i.fa {
    margin-left: 5px;
}

/* Styles for the microphone icon */
.microphone-icon {
    cursor: pointer;
}
.share-btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    
}

.share-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}